<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Auto Exploit Light 9.00 fw</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        /* {{{embed './scripts/style.css'}}} */
    </style>
</head>

<body>
    <div id="zLoading" class="zLoading">
        Loading Menu...
    </div>
    <div id="zApp" class="zApp">
        <h1>Auto Exploit Light 9.00 fw</h1>
        <h3 class="heading">
            Firmware: <span id="zFwVer">...</span>
        </h3>
        <h3 class="heading">
            Jailbreak Status: <span id="zJbStatus" class="running">...</span>
        </h3>
        <h3 class="heading">
            Payload:
            <span id="zPlStatus" class="pending">Please select button</span>
        </h3>
        <div id="zMenu" class="zMenu">
            {{#each menuConfig}}
            <p>
                {{#each this}}
                <button
                    class="btn-payload btn-{{cls name}}"
                    data-desc="{{desc}}"
                    {{#if bin}}data-bin="{{bin}}"{{/if}}
                    {{#if msg}}data-msg="{{msg}}"{{/if}}
                    {{#if custom}}data-cb="{{custom}}"{{/if}}
                >
                    {{name}}
                </button>
                {{/each}}
            </p>
            {{/each}}
        </div>
        <div class="author">
            <p>
                Designed, Compiled by:
                OpenGG
            </p>
            <p>
                Super Special Thanks To:
                Sleirsgoevy,
                Al Azif,
                ChendoChap,
                SiSTRo,
                Specter,
                Znullptr,
                Karo Sharifi...
            </p>
        </div>
    </div>
    <script>
        /* {{{embed './scripts/detectFw.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/exported.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/menu.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/main.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/int64.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/rop.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/kexploit.js'}}} */
    </script>
    <script>
        /* {{{embed './scripts/webkit.js'}}} */
    </script>
</body>

</html>